body {
    font: Arial, sans-serif;
}

.padre {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    text-align: center;
    width: 600px;
    margin: 50px 300px auto;
}

#bordes{
    border-color: blueviolet;
    border-style: double;
    border-width: 3.5px;
    border-radius: 8px;

}

#oscuro{
    font-weight: bold; 
}

#texto{
    font-size: 14px;
}

#azul{
    color: rgb(0, 4, 255);
    font-weight: bold;
    font-size: 13px;
}

.div1 { 
    grid-area: 1 / 1 / 2 / 4; 
    font-weight: bold;
    padding-top: 100px;
    font-size: 20px;
}

.div2 { 
    grid-area: 2 / 1; 
    border: 1px solid black;
    margin-right: 5px;
    width: 250px;
    height: 160px;
    line-height: 15px;
}

.div3 { 
    grid-area: 2 / 2; 
    border: 1px solid black;
    margin-right: 5px;
    width: 250px;
    height: 100px;
    height: 160px;
    line-height: 12px;
}

.div4 { 
    grid-area: 2 / 3 / 4;
    border: 1px solid black;
    width: 250px;
    height: 200px;
    height: 240px;
    line-height: 12px;
}

.div5 { 
    grid-area: 3 / 1 / 4 / 3;
    border: 1px solid black;
    margin-right: 5px;
    margin-top: 2.5px;
    border-radius: 5px;
    background-color: blue;
    height: 66px;
    font-size: 13px;
    color: white;
    border-left: 10px solid blue;
    border-right: 50px solid blue;
    text-align:  justify;
    border-top: 10px solid blue;
}